
<div class="container my-3 card">
    <div class="card-body">
    <div class="jumbotron">
        <div class="header">  <h1 class="display-4">Hello,I am Pushpak Sanjay Chaudhari!</h1> </div>
        <p class="lead">I am currently pursuing my MCA in Computer Science from JSPM's Rajarshi Shahu College of Engineering.</p>
        <p class="lead">This program is from Aug 2023 to Jul 2025, focusing on various aspects of computer applications.</p>
        <hr class="my-4">
        <p>Feel free to connect with me for collaborations or discussions about technology!</p>
        <a class="btn action btn-lg" href="https://www.linkedin.com/in/pushpak-chaudhari-a3941323a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" role="button">Connect on LinkedIn</a>
    </div>
</div>
</div>
